@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #ecae46;
  color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #c1752f;
  outline-offset: 1px;
  border-color: #fff;
}

/************ Header & Home Page ***************/
.site-background {
  background-image: url("/assets/img/home-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: darken !important;
}

.common-button {
  background-image: linear-gradient(to bottom, #ecae46, #c1752f);
  transition: background-image 1s ease-in-out;
}
.common-button:hover {
  cursor: pointer;
}

.menu-list-item:hover {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 26px;
  padding-bottom: 20px;
}

.menu-list-item-active {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 26px;
  padding-bottom: 20px;
}

#search-query:focus {
  outline: none;
}

/* Header - tab & phone view */
.mobile-menu-list-item:hover {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4b5563;
  font-weight: 700;
}

.mobile-menu-list-item-active {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4b5563;
  font-weight: 700;
  z-index: 0;
}

.mobile-menu {
  overflow: hidden; /* Ensures content doesn't spill out when transitioning */
  max-height: 0;
  transition: max-height 0.3s ease-out; /* Controls the slide-down speed and easing */
}

.mobile-menu.open {
  max-height: 48px; /* Set this to the maximum height your menu might need */
}

.mobile-menu-bg-toggle {
  background-color: #d1d5db !important;
}

.ham-menu-container {
  overflow: hidden;
  display: none;
  transition: display 0.3s ease-out;
}

.ham-menu-container.open {
  display: block;
}

/* Login Modal */
.topleft-cap-line::before {
  content: "";
  position: absolute;
  top: -110%;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #f38e1c;
  transform: translateY(-50%);
  margin-right: 10px;
}

.bottomleft-cap-line::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #f38e1c;
  transform: translateY(-50%);
  margin-right: 10px;
}

/************ About Page ***************/
.about-background {
  background-image: url("/assets/img/about-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: darken !important;
}

/************ Contact Page ***************/
.contact-background {
  background-image: url("/assets/img/contact-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: darken !important;
}

/************ Quran index Page ***************/
.banner-img {
  background-image: url("/assets/img/q-banner.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

@media (max-width: 768px) {
  .banner-img {
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .banner-img {
    background-size: cover;
  }
}

/* Index cards section */
.qIndexCard {
  background: linear-gradient(to bottom right, #fff, #fff);
  transition: all 0.5s ease-in-out;
}

.qIndexCard:hover {
  background: linear-gradient(to bottom right, #ecae46, #c1752f);
}
.qIndexCard:hover .qIndexNumBox {
  background-color: #3e094c;
}
.qIndexCard:hover .qIndexSubtitle {
  color: #fff;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#ecae46 0 0);
  background: var(--c), var(--c), #3e094c;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
