@tailwind base;
@tailwind components;
@tailwind utilities;

.site-background {
  background-image: url("/assets/img/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: darken !important;
}

.common-button {
  background-image: linear-gradient(to bottom, #ecae46, #c1752f);
  transition: background-image 1s ease-in-out;
}
.common-button:hover {
  cursor: pointer;
}

.menu-list-item:hover {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 26px;
  padding-bottom: 20px;
}

.search-button {
  transition: background-color 0.5s ease-in-out;
}
.search-button:hover {
  background-color: #c1752f;
}

#search-query:focus {
  outline: none;
}

/* Header - tab & phone view */
.mobile-menu-list-item:hover {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4b5563;
  font-weight: 700;
}

.mobile-menu {
  overflow: hidden; /* Ensures content doesn't spill out when transitioning */
  max-height: 0;
  transition: max-height 0.3s ease-out; /* Controls the slide-down speed and easing */
}

.mobile-menu.open {
  max-height: 48px; /* Set this to the maximum height your menu might need */
}

.mobile-menu-bg-toggle {
  background-color: #d1d5db !important;
}

.ham-menu-container {
  overflow: hidden;
  display: none;
  transition: display 0.3s ease-out;
}

.ham-menu-container.open {
  display: block;
}

/* Login Modal */
.topleft-cap-line::before {
  content: "";
  position: absolute;
  top: -110%;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #f38e1c;
  transform: translateY(-50%);
  margin-right: 10px;
}

.bottomleft-cap-line::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #f38e1c;
  transform: translateY(-50%);
  margin-right: 10px;
}
