@tailwind base;
@tailwind components;
@tailwind utilities;

.site-background {
  background-image: url("/assets/img/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-blend-mode: darken !important;
}

.common-button {
  background-image: linear-gradient(to bottom, #ecae46, #c1752f);
  transition: background-image 1s ease-in-out;
}
.common-button:hover {
  cursor: pointer;
}

.active {
  position: relative;
  border-bottom: 4px solid #ecae46;
  padding-top: 26px;
  padding-bottom: 20px;
}

.search-button {
  transition: background-color 0.5s ease-in-out;
}
.search-button:hover {
  background-color: #c1752f;
}

#search-query:focus {
  outline: none;
}
